<div class= "text-center", id= "welcome">
  <h1>Welcome to Rails Follow</h1>
</div>

<div class= "text-center">
	<p>The site that keeps you up date with your favourite Ruby on Rails developers</p>
</div>

<div class= "text-center", id= "laughing">
	<%= image_tag("laughing300x205.jpg", alt: "People laughing around a laptop") %>
</div>
